.interior-h{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 50px;
    font-weight: 600;
}
.interior-p{
    color: #545454;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 165.2%; /* 46.256px */
}

.crashed{
    width: 511px;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px){
    .cont-d{
        flex-direction: column;
    }

    .interior-h{
        font-size: 30px;
    }
    
    .interior-p{
        font-size: 1.2rem;
        line-height: 140%; /* 46.256px */
    }

    .crashed{
        width: 100%;
        height: 300px;
    }
}
